$color_black: black;
$color_grey: #686868;
$color_white: white;

$BLUE_500: #1f1ab2;
$BLUE_400: #534ed9;
$BLUE_300: #7673d9;
$BLUE_200: #c8d4f2;
$BLUE_100: #e8eeff;

$RED_500: #ff675b;
$RED_400: #ff9783;
$RED_300: #ffb49c;
$RED_200: #ffd2bd;
$RED_100: #fce3de;

$ORANGE_500: #f29728;
$ORANGE_400: #f5ac53;
$ORANGE_300: #f7c17e;
$ORANGE_200: #fad5a9;
$ORANGE_100: #fef0e0;

$GRAY_500: #2f4858;
$GRAY_400: #647e8f;
$GRAY_300: #afc1cc;
$GRAY_200: #e6eef2;
$GRAY_50: #f5fafc;

$GREEN_500: #00d077;
$GREEN_200: #58ffb8;
$GREEN_100: #e1fff2;
